@font-face{ 
    font-family: TTLakes-bold;
    
    src: url('./TTLakes-Bold.eot');
    src: url('./TTLakes-Bold.ttf') format('truetype'),
    url('./TTLakes-Bold.woff') format('woff');}
@font-face{ 
    font-family: TTLakes-medium;
    
    src: url('./TTLakes-Medium.eot');
    src: url('./TTLakes-Medium.ttf') format('truetype'),
    url('./TTLakes-Medium.woff') format('woff');}
@font-face{ 
    font-family: TTLakes-regular;
    
    src: url('./TTLakes-Regular.eot');
    src: url('./TTLakes-Regular.ttf') format('truetype'),
    url('./TTLakes-Regular.woff') format('woff');}
